@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Proto';
  src: URL('./font/0xProto-Regular.ttf') format('truetype');
}

@layer base {
  body {
    @apply w-4/5 max-w-sm m-auto text-stone-200 bg-stone-800;
    font-family: "Proto";
  }
}
