@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,100&display=swap');

body {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    background-image: url(./bg.jpg);
    background-color: #666;
    background-size: auto 100vh;
    background-position-x: center;
    background-repeat: no-repeat;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

input {
    border: 0px;
    border-radius: 5px;
    margin: 5px;
}

input::placeholder {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
}

.title {
    font-size: 10em;
    color: #666;
    text-align: center;
}

.welcome {
    font-size: 5em;
    color: #666;
    text-align: center;
    margin-bottom: 0.5em;
}

.app-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app {
    color: #666;
    font-size: 1.5em;
    width: 75%;
    max-width: 500px;
    border: 0px;
    border-radius: 10px;
    background-color: #fff;
    margin: 10px auto;
}

.app a {
    text-decoration: none;
}

.logout-button {
    text-align: center;
}

button {
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    background-color: #666;
    border: 1px solid #666;
    border-radius: 5px;
}

.footer {
    font-size: 0.8em;
    color: #666;
    text-align: center;
    margin-top: 100px;
}

a {
  color: inherit;
}
