<!DOCTYPE html>
<html lang="en">

<head>
    <meta charSet="UTF-8" />
    <title>way</title>
    <link rel="stylesheet" href="static/globals.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon"
        href="data:image/svg+xml,&lt;svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22>&lt;text y=%22.9em%22 font-size=%2290%22>🤘&lt;/text>&lt;/svg>" />
</head>

<body>
    <html data-custom="data">

    <body>
      <div class="welcome">Hi, {{ name }}</div>
          <div class="app-link">
              {% for link in links %}
                  <div class="app">
                      <a href={{ link.url }}>
                              &nbsp;{{ link.name }}
                      </a>
                  </div>
              {% endfor %}
          </p>
          <p class="logout-button">
              <a href="/api/logout">
                  <button>
                      &nbsp;BYE&nbsp;
                  </button>
              </a>
          </div>
        <p class="footer">
            Photo by <a href="https://unsplash.com/@etiennegirardet?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Etienne Girardet</a> on <a href="https://unsplash.com/photos/Xh6BpT-1tXo?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        </p>
    </body>

    </html>
</body>

</html>
